/* main file css */
.main_root{
    background-color: rgb(223, 223, 221);
}

/* app file css */
.app-container{
    display: flex;
    /* width: 100%; */
}

.content{
    width: 100%;
}

/* sidebar file css */
.sidebar{
    min-height: 600px;
    width: 220px !important;
}